@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;800&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root{
    --text-color:#f5f5f5;
    --hover-color:#12f7ff;
    --bg-color:#250821;
    --bg-font:2.5rem;
    --normal-font:2rem;
    --neon-box-shadow:0 0 .8rem #12f7ff;
    --h2-font:3rem;
    --p-font:1rem;
    --font-neon-text-shadow:0 0 10px rgba(18,247,255,0.3),
    0 0 20px rgba(18,247,255,0.3),
    0 0 30px rgba(18,247,255,0.3),
    0 0 40px rgba(18,247,255,0.3),
    0 0 70px rgba(18,247,255,0.3),
    0 0 80px rgba(18,247,255,0.3),
    0 0 100px rgba(18,247,255,0.3),
    0 0 150px rgba(18,247,255,0.3),;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0%;
    right: 0%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    background: transparent;
    border-bottom: 1px solid transparent;
}

.logo{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
}

span{
    color: var(--hover-color);
}

.navlist{
    display: flex;
}

.navlist a{
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 500;
    padding: 10px 27px;
}

.navlist a:hover{
    color: var(--hover-color);
    text-shadow:0 0 10px rgba(18,247,255,0.6),
    0 0 20px rgba(18,247,255,0.6),
    0 0 30px rgba(18,247,255,0.6),
    0 0 40px rgba(18,247,255,0.6),
    0 0 70px rgba(18,247,255,0.6),
    0 0 80px rgba(18,247,255,0.6),
    0 0 100px rgba(18,247,255,0.6),
    0 0 150px rgba(18,247,255,0.6),; 
}

.navlist a.active{
    color: var(--hover-color);
}

section{
    padding: 100px 10%;
}

.home{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4rem;
}

.home-content{
    max-width: 600px;
}

.home-content h1{
    font-size: var(--bg-font);
    font-weight: 700;
}

.home-content h3{
    font-size: var(--normal-font);
    font-weight: 700;
    color: var(--hover-color);
}

.home-content p{
    font-size: var(--p-font);
    color: #bdbdbd;
    line-height: 1.6;
}

.info-box{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    margin: 1rem 0 2rem;
}

.info-box h5{
    font-size: var(--p-font);
    font-weight: 600;
    color: var(--text-color);
}

.info-box span{
    font-size: .9rem;
    color: #bdbdbd;

}
